
.landingPage
{
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
}

.landingPageAbout
{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingPageAbout .aboutContainer
{
    
}

.landingPageAbout .aboutContainer h3
{
    font-size: 42px;
    font-weight: 100;
}

.landingPageAbout .aboutContainer h3 span
{
    font-size: 68px;
}

.landingPageAbout .aboutContainer p
{

}

.landingPageImage
{
    height: 93vh;
    display: flex;
    align-items: center;
}

.landingPageImage .imageContainer
{
    width: 300px;
    height: 350px;
    background-image: url("../../assets/images/Saran_S.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 5px 5px rgba(104, 104, 104, 0.5);
    animation: profileAnimate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes profileAnimate {
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}